.login{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}
.label{
    text-align: center;
}
.row{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 15vh;
}