<div class="col col-lg-12 row">
    <div class="col col-2 side-bar">
        <ul class="nav flex-column" style="margin-top: 20px;">
            <a class="navbar-brand" href="#">
                <div class="nav-button">
                    <i class="fab fa-spotify fa-2x"></i>
                    <h2 style="padding-left: 10px;color: white;">Spotify</h2>
                </div>
            </a>
            <hr class="divider">
            <li class="nav-item">
                <div class="nav-button">
                    
                    <i class="fas fa-home"></i>
                    <a class="nav-link" href="#">Home</a>
                </div>
            </li>
            <li class="nav-item">
                <div class="nav-button">
                    
                    <i class="fas fa-search"></i>
                    <a class="nav-link" href="#">Search</a>
                </div>
            </li>
            <li class="nav-item">
                <div class="nav-button">
                    
                    <i class="fas fa-book"></i>
                    <a class="nav-link" href="#">Library</a>
                </div>
            </li>
            <hr class="divider">
            <li class="nav-item">
                <a class="nav-link" href="#">Playlist</a>
                <div class="add-playlist">
                    <div class="button">
                        <i class="fas fa-plus"></i>
                    </div>
                    <a class="nav-link" href="#">add</a>
                </div>
                <div class="liked-playlist">
                    <div class="button-liked">
                        <i class="fas fa-heart"></i>
                    </div>
                    <a class="nav-link" href="#">liked</a>
                </div>
            </li>
            <hr class="divider">
            <div class="playlist-item">
                <li class="nav-item playlist-item" *ngFor="let playlist of playlists">
                    {{playlist.name}}
                </li>
            </div>
        </ul>
    </div>
    <div class="col col-10 row">
        <h3></h3>
        <div [routerLink]="['../user']" class="col col-3 user">
            <div class="display-name">
                <i class="fas fa-sort-down"></i>
                {{user.display_name}}
                <img src="{{user.images[0].url}}">
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>  
</div>